---
import Layout from '@layout/Layout'
---

<Layout navigationType="admin">
  <span>Todo Admin Panel</span>
</Layout>

<script>
  import { checkAuth } from '@store/authorization'
  checkAuth()
</script>
