---
import Layout from '@layout/Layout'
import AboutMe from '@component/AboutMe'
import Contacts from '@component/Contacts'
import Projects from '@component/Projects'
import Socials from '@component/Socials'
---

<Layout>
  <AboutMe />
  <Projects />

  <div class="mt-5 block p-5 lg:flex">
    <Contacts client:load />
    <Socials />
  </div>
</Layout>

<style is:global>
  section {
    @apply scroll-mt-16;
  }
</style>
