---
import Layout from '@layout/Layout'
import AboutMe from '@component/AboutMe.svelte'
import Contacts from '@component/Contacts.svelte'
import Projects from '@component/Projects.svelte'
import Socials from '@component/Socials.svelte'
---

<Layout>
  <AboutMe />
  <Projects />

  <div id="contacts" class="mt-5 flex flex-wrap p-5">
    <Contacts />
    <Socials />
  </div>
</Layout>
